################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/build/.vs/MED/v15
*.opendb
*.OPENDB
*.DB
*.db
/.vs/*
*.suo
*.SUO
